body{
    font-family: 'Poppins', sans-serif;
    background: #f3f5fc;
    ;
}

header{
    margin: 40px;
}

.rectangulo{
    width: 400px;
    height: 600px;
    margin: 0 0 0 900px;
    position: absolute;
}

.textoEncriptar{
    margin: -40px 0 0 1090px;
    position: absolute;
    width: 336px;
    height: 781px;
    font-size: 15px;
    font-weight: 200;
    font-family: inherit;
    line-height: normal;
    letter-spacing: 0em;
    text-align: left;
    border: none;
}

.muñeco{
    width: 286px;
    height: 254px;
    margin: 20px 1120px;
    position: absolute;
}

.noHayMensaje{
    margin: 300px 1090px;
    position: absolute;
    width: 336px;
    height: 58px;
    font-size: 16px;
    font-weight: 350;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
}

.mensajeDeIngresar{
    margin: 350px 1090px;
    position: absolute;
    width: 336px;
    height: 48px;
    font-size: 12px;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.textoUsuario{
    width: 600px;
    height: 300px;
    margin: 5px 240px;
    border: 0;
    color: #052051;
    background: #f3f5fc;
    line-height: 20px;
    font-family: inherit;
    font-size: 15px;
    letter-spacing: 0em;
    text-align: left;
    resize: none;
}

.botonCopiar{
    width: 310px;
    height: hug(10px);
    font-size: 12px;
    font-family: inherit;
    border-radius: 24px;
    padding: 12px;
    cursor: pointer;
    margin: 400px 1100px;
    position: absolute;
    background: white;
    color: #052051;
    border-color: #052051;
    border-style: solid;
    justify-content: center;
}

.mensajeInformativo{
    margin: 100px 240px 4px;
    font-size: 10px;
}

.botonEncriptador{
    width: 310px;
    height: hug(10px);
    font-size: 12px;
    font-family: inherit;
    border-radius: 24px;
    padding: 12px;
    cursor: pointer;
    margin: 8px 4px 8px 240px;
    background: #052051;
    color: #d8dfe8;
    border: hidden;
    justify-content: center;
}

.botonDesencriptador{
    width: 310px;
    height: hug(10px);
    font-size: 12px;
    font-family: inherit;
    border-radius: 24px;
    padding: 12px;
    cursor: pointer;
    margin: 4px 8px 8px 4px;
    background: #d8dfe8;
    color: #052051;
    border-color: #052051;
    border-style: solid;
    justify-content: center;
}

footer{
    margin-top: 30px;
    text-align: center;
    padding: 1px;
    color: #052051;
    background: #f3f5fc;
}

/*Configuracion para celular*/
@media only screen and (min-width: 200px) and (max-width:600px){

    .textoUsuario, .mensajeInformativo{
        margin: 40px 0 0 20px;
        width: 90%;
        line-height: normal;
    }

    .botonEncriptador, .botonDesencriptador{
        margin: 8px 4px 8px 48px;
    }

    .textoEncriptar{
        text-align: justify;
        margin: 750px 12px;
        height: fit-content;
        line-height: normal;
        width: 350px;
    }

    .noHayMensaje{
        text-align: center;
        margin: 880px 35px;
    }

    .mensajeDeIngresar{
        margin: 950px 35px;
        text-align: center;
    }

    .botonCopiar{
        margin: 1380px 48px;
    }

    .rectangulo{
        top: 0;
        display: none;
        visibility: hidden;
    }

    .muñeco{
        top: 0;
        display: none;
        visibility: hidden;
    }

    footer{
        margin-top: 750px;
    }
}

/* Configuracion para tablet */
@media only screen and (min-width: 601px) and (max-width: 1024px){
    
    .textoUsuario, .mensajeInformativo{
        margin: 40px 0 0 40px;
        width: 90%;
        line-height: normal;
    }

    .botonEncriptador, .botonDesencriptador{
        margin: 8px 4px 8px 40px;
    }

    .noHayMensaje{
        text-align: center;
        margin: 880px 216px;
    }
    .mensajeDeIngresar{
        margin: 950px 200px;
        text-align: center;
    }

    .textoEncriptar{
        text-align: justify;
        margin: 750px 34px;
        height: fit-content;
        line-height: normal;
        width: 700px
    }

    .botonCopiar{
        margin: 1065px 226px;
    }

    .rectangulo{
        top: 0;
        display: none;
        visibility: hidden;
    }

    .muñeco{
        top: 0;
        display: none;
        visibility: hidden;
    }

    footer{
        margin-top: 500px;
    }
}
